asgiref==3.8.1
attrs==25.3.0
blessings==1.7
click==8.1.8
Django==5.1.7
exceptiongroup==1.2.2
hypothesis==6.130.5
iniconfig==2.1.0
packaging==24.2
pluggy==1.5.0
pytest==8.3.5
pytest-django==4.10.0
ruff==0.11.3
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
